.App {
  max-width: 1300px;
  margin: 0rem auto;
  padding: 1rem;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.btn-landing {
  gap: 10px;
  padding: 10px 16px 10px 12px;
  border-radius: 8px;
  border: 1px solid #1C1E26;
  background: #FFF;
  margin-left: auto;
  margin-top: auto;

}

.listing-wrapper {
  border-radius: 24px;
  background: #F6F6F5;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 0rem 0rem 0rem;
}

.listing-title {
  color: #1C1E26;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

button {
  height: fit-content;
}

.tab-active {
  padding: 12px 32px 4px 0px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #5563F5;
  cursor: pointer;
  padding-left: 1rem;
  font-weight: 600;
  text-decoration-thickness: 3px;
}

.head {
  padding: 0rem 1rem 1rem 1rem;
}

.user-list {
  flex-basis: 30%;
  max-height: calc(100% - 5rem);
  border-right: 1px solid #E3E3E3;
}

.selected-user {
  flex: 1;
  overflow: auto;
  height: calc(100vh - 16rem);
  background-color: #e9e9e9;
}



.show {
  height: calc(100vh - 15rem);
  overflow: auto;
}

.hidden {
  display: none;
}

.person-img {
  align-items: center;
}

.imgNoRotate {
  transform: rotate(180deg);
}

.dropdown {
  padding: 1rem 1rem 1rem 0rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid #E3E3E3;
}

.selected-data {
  background-color: #c9ffda;
}

.selected-card {
  padding: 16px 1rem 16px 1rem;
  border-bottom: 1px solid #E3E3E3;
  background-color: white;
}

.btn {
  display: flex;
  width: 96px;
  padding: 10px 16px 10px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-cancel {
  border-radius: 8px;
  border: 1px solid #1C1E26;
  background-color: #FFF;

}

.btn-save {
  border-radius: 8px;
  background-color: #5563F5;
  color: white;
}

::-webkit-scrollbar {
  width: 1px;
}

.btn-completed {
  border-radius: 8px;
  background: #5563F5;
  display: inline-flex;
  padding: 10px 16px 10px 12px;
  position: relative;
  gap: 10px;
  color: white;
}


.notification {
  color: white;
  background-color: red;
  width: fit-content;
  padding: 0.1rem 0.8rem;
  position: absolute;
  bottom: 2.2rem;
  right: -0.5rem;
  border-radius: 0.6rem;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.completed-button {
  margin-left: auto;
  margin-top: auto;
  position: relative;
}

.search {
  border-radius: 8px;
  border: 1px solid #EDEDED;
  background-color: #F6F6F5;
  width: 100%;
  padding: 0.5rem 2.2rem;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.search-icon {
  top: 0.6rem;
  left: 1rem;

}

.nodata {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 0rem 0rem 24px;
}

.date {
  position: relative;

}

.date input {
  display: flex;
  width: 189px;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #E3E3E3;
  background-color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.nodata-new {
  height: calc(100vh - 8.3rem);
}

.thumbnail-wrapper {
  width: 32px;
  height: 32px;
}

.thumbnail {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.name {
  font-size: 14px;
  font-weight: 400;
}

.date input {

  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}

.label {
  position: absolute;
  top: -10px;
  bottom: 0;
  height: fit-content;
  left: 16px;
  display: flex;
  align-items: center;
  z-index: 1;
  background: white;
  padding: 0px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #1C1E26;
}

.react-datepicker-popper {
  z-index: 2 !important;
}

.react-datepicker {
  min-width: 327px;
}